<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.AlbumDao">
    <sql id="querySql">
      id,title,cover,author,score,broadcast,counts,content,crea_date
    </sql>

    <select id="queryAllByPage" resultType="Album">
        select <include refid="querySql"/> from album limit #{start},#{rows}
    </select>

    <select id="queryAllRecords" resultType="Integer">
        select count(*) from album
    </select>

    <update id="update" parameterType="Album">
        update album
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="cover!=null and cover!=''">cover=#{cover},</if>
            <if test="author!=null">author=#{author},</if>
            <if test="score!=null">score=#{score},</if>
            <if test="broadcast!=null">broadcast=#{broadcast},</if>
            <if test="counts!=null">counts=#{counts},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="crea_date!=null">crea_date=#{crea_date}</if>
        </set>
        where id=#{id}
    </update>

    <insert id="save" parameterType="Album">
        insert into album values(#{id},#{title},#{cover},#{author},#{score},#{broadcast},#{counts},#{content},#{crea_date})
    </insert>
    <!--删除-->
    <delete id="delete">
        delete from album where id=#{id}
    </delete>
</mapper>
